:root {
  --primary-color: #2d033b;
  --secondary-color: #810ca8;
  --tertiary-color: #c147e9;

  --light-color: #e5b8f4;

  --white-color: #fefefe;
  --black-color: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  border-radius: 16px;
  padding: 18px 28px;
}

.btn.btn-primary {
  background: var(--tertiary-color);
  color: var(--white-color);
}
.btn.btn-primary:hover {
  background: var(--secondary-color);
}
.btn.btn-primary:disabled {
  background: rgba(129, 12, 168, 0.8);
  cursor: default;
}

.btn.btn-secondary {
  background: var(--light-color);
  color: var(--secondary-color);
}
.btn.btn-secondary:hover {
  background: var(--tertiary-color);
  color: var(--white-color);
}

.btn.btn-link {
  color: var(--tertiary-color);
  padding: 0;
}
.btn.btn-link:hover {
  text-decoration: underline;
}
